@{
    ViewBag.Title = "Links";
}

@section scripts {
    <script type="text/javascript">
        var index = Appx.Links.Index();
        index.Init();
    </script>
}

<h2>Links</h2>

<table>
    <thead><tr>
        <th>Title</th>
        <th>Url</th>
        <th>Description</th>
    </tr></thead>
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: title"></td>
            <td data-bind="text: url"></td>
            <td data-bind="text: description"></td>
        </tr>    
    </tbody>
</table>