@{
    ViewBag.Title = "Links";
}

@section scripts {
    <script type="text/javascript">
        var index = Appx.Links.Index();
        index.Init();
    </script>
}

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Links</a></p>
        </div>
    </div>
</header>

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h3>Useful links and resources:</h3>
        <ol class="round" data-bind="foreach: items">
            <li class="one">
                <h5 data-bind="text: title">Title</h5>
                <span data-bind="text: description">Description</span>
                <a data-bind="text: url, attr: { href: url, title: title }">Url</a>
            </li>
        </ol>
    </section>
</div>