@{
    Layout = "~/Views/Shared/_MarkdownLayout.cshtml";
}

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) { 
    <div style="width:240px;">
        @Html.Password("password")
        <input type="submit" value="Submit" style="padding:2px;" />
        <span id="error-message" style="color:red;">@ViewBag.ErrorMessage</span>
    </div>
}

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(function () {
        $('#password').focus();
    });
</script>

