body
{
    background: #dfdfdf;
    font-family: Arial,sans-serif;
}

body, div, h1, p
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

ol, ul {
    list-style: none;
}

#profile {
    float: left;
    width: 646px;
}

#topcard #name {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
}

#topcard .headline {
    padding: 1px 0;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
}

#topcard .extra-info {
    margin-top: 10px;
}

#topcard .extra-info span.site-name {
    font-size: 11px;
    color: #999;
    padding-right: 20px;
    white-space: nowrap;
    width: 80px;
}

#topcard .extra-info span.site-display-name {
    font-size: 12px;
}

#topcard .extra-info span.site-name, #topcard .extra-info span.site-display-name {
    margin-bottom: 3px;
    padding-top: 6px;
    vertical-align: text-top;
    display: inline-block;
}

span, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

.profile-section {
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.03), 1px 0 0 rgba(0,0,0,0.03), 0 1px 0 rgba(0,0,0,0.12);
}

.profile-section .title {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}

.profile-section .item-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}
.profile-section .item-title, .profile-section .item-subtitle {
    margin-bottom: 5px;
}


.profile-section .item-subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #434649;
}

.profile-section .item-title, .profile-section .item-subtitle {
    margin-bottom: 5px;
}

.profile-section>ul>li {
    overflow: hidden;
    padding: 30px 35px;
    border-bottom: 1px solid #ddd;
}

.profile-section .meta {
    font-size: 12px;
    line-height: 14px;
    color: #66696a;
}

.profile-section .description {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    margin-top: 15px;
}


.profile-overview {
    float: none;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
}