@{
    ViewBag.Title = "jQuery Pocket";
}

<h2>jQuery Pocket Reference</h2>

<span id="moni-placeholder"></span>

@section Scripts {
    <script src="@Url.Content("~/Scripts/pocket.js")" type="text/javascript"></script>
}

