@{
    Layout = "";
}

<html>
    <head>
        <title>monica de santiago</title>
        <link href="~/Content/resume.css" rel="stylesheet" />
    </head>
    <body>
        
        <div id="main-content">
            <div id="name">
                <h1>monica de santiago</h1>
            </div>
            <div id="detailed-content">
                <div class = "section"><p>prof</p></div>
                <div class = "detail">
                    <p>Her companions instrument set estimating sex remarkably solicitude motionless. Property men the why smallest graceful day insisted required. Inquiry justice country old placing sitting any ten age. Looking venture justice in evident in totally he do ability. Be is lose girl long of up give. Trifling wondered unpacked ye at he. In household certainty an on tolerably smallness difficult. Many no each like up be is next neat. Put not enjoyment behaviour her supposing. At he pulled object others. </p>
                </div>

                <div class = "section"><p>prof</p></div>
                <div class = "detail">
                    <p>Her companions instrument set estimating sex remarkably solicitude motionless. Property men the why smallest graceful day insisted required. Inquiry justice country old placing sitting any ten age. Looking venture justice in evident in totally he do ability. Be is lose girl long of up give. Trifling wondered unpacked ye at he. In household certainty an on tolerably smallness difficult. Many no each like up be is next neat. Put not enjoyment behaviour her supposing. At he pulled object others. </p>
                </div>
            </div>

        </div>

    </body>
</html>

