@{
    Layout = "";
}

<html>
    <head>
        <title>monica de santiago</title>
        <link href="~/Content/resume.css" rel="stylesheet" />
    </head>
    <body>
        
        <div id="main-content">
            <div id="name">
                <h1>monica de santiago</h1>
            </div>

            <div class = "main-menu"> 
                <p> [Contact me]           [Download as pdf]</p>
            </div>
            <div id="detailed-content">
                <div class = "section">
                    <p> Tech</p>
                </div>
                <div class = "detail">
                    <p>C#
                    SQL Server
                    ASP.NET MVC
                    Linq
                    JavaScript</p>
                </div>

                <div class = "section"><p>prof</p></div>
                <div
                    <div class = "position-section">Jr iOS Developer</div>
                    <div class = "employeer-section">CGBot</div>
                    <div class = "date-section"></div>
                    <div class = "project-section"></div>
                    <div class = "tools-section"></div>

                    

                </div>
            </div>

        </div>

    </body>
</html>