@{
    Layout = "~/Views/Shared/_MarkdownLayout.cshtml";
}

@model IEnumerable<AppexApi.Controllers.NoteInfoVM>

<h2>Content List</h2>

<p>Notes so far:</p>

<ul>
    @foreach (var item in Model) { 
        <li><a href="@String.Format("{0}/{1}", Request.Path, item.Filename)">@item.Filename</a>
            <span style="font-size:80%">(Updated on @String.Format("{0:MMMM dd, yyyy}", item.ModifiedOn))</span>
        </li>
    }
</ul>